.contact p {
	margin: 0px;
}

.contact i {
	color: #1b6535;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;

}

.contact_2{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	width: 1000px;
    height:100%;
    border-radius:3px;
    flex-wrap:wrap;
}

.contact_container {
	background-color: white;
	border: 2px solid black;
	padding: 15px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	font-weight: 600;
	border-radius: 5px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
	margin-top: 5%;
}

.contact .contact_container i{
   margin:10px;
}

@media screen and (max-width:1001px){
	.contact_2{
		width:100%;
	}
}