.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    line-height: 0px;
    margin:0px;
    padding: 0px;
    
    background-color: black;
    color: white;
}