.skills {
	display: flex;

	justify-content: center;
}

.skills_left {
	width: 30%;
	margin-top: 100px;
}
.skills_right {
	width: 50%;
	margin-top: 100px;
}

.skills_left .skills_text {
	max-width: 60%;
	line-height: 30px;
}
.skills_container {
	display: flex;
	flex-direction: column;
	margin: auto;
	border-radius: 3px;
	flex-wrap: wrap;
}

.skills img {
	width: 55px;
	height: 55px;
	padding: 10px;
	margin-top: 20px;
}

.skills article {
	padding: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.skills article:hover {
	background: rgb(27, 101, 53, 0.05);
	box-shadow: inset 0 0 0 0.2rem #1b6535;
	transition: 400ms;
}

.frontend_skills {
	display: flex;
	flex-wrap: wrap;
}

.skills article {
	margin: 15px;
	border-radius: 5px;
	border: 1px solid #d9dce2;
}

.skills article p {
	color: #000000;
	font-weight: 700;
	display: none;
}

.frontend_skills P,
.backend_skills P,
.autres_environements P {
	text-transform: uppercase;
}

.skills article {
	animation-name: article_skills;
	animation-duration: 400ms;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes article_skills {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.skills_text{
    animation-name: growGrow;
    animation-duration:1s;
    animation-fill-mode: forwards;
    opacity:0;
    transform:scale(0);
}

@keyframes growGrow{
    0%{
        opacity:0;
        transform:scale(0);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

/**/

@media screen and (max-width: 1291px) {
	.frontend_skills,
	.backend_skills,
	.autres_environements {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1001px) {
	.skills_container {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.frontend_skills,
	.backend_skills,
	.autres_environements {
		flex-wrap: wrap;
	}
}
