html,
body {
	margin: 0px;
	padding: 0px;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.home,
.skills,
.portfolio,
.contact {
	background-color: rgb(246, 247, 248);
	flex: 1;
	padding:10px;
}

.button {
	border-radius: 5px;
	color: black;
	font-weight: 600;
	padding: 10px;
	background: linear-gradient(to left, white 50%, #1b6535 50%) right;
	background-size: 210%;
transition: .3s ease;
	border: 2px solid #1b6535;
}
.button:hover{
	cursor:pointer;
}

.button:hover{
	background-position: left;
	color: white;
}

.titlePage {
	font-family: cursive;
	font-size: 25px;
	border-radius: 3px;
	align-self: flex-start;
	

}

.gras{
	color: #666;
	font-family:cursive;
	font-weight:600;
}

.green{
	color:  #1b6535;
}



@media screen and (max-width: 1001px) {
	.titlePage {
		margin-left: 0%;
		align-self: center;
	}
}
